@page "/DamageScenario/{IdDamageScenario:long}"

@rendermode InteractiveServer
@using tara_tool.Data.Services
@using tara_tool.Components
@using tara_tool.Components.Pages.ThreatScenarios
@using Microsoft.EntityFrameworkCore
@inject DamageScenarioService DamageScenarioService;
@inject ThreatScenarioService ThreatScenarioService
@inject NavigationManager NavigationManager
@attribute [Authorize]

@if (damageScenario is not null)
{
    <FluentStack VerticalAlignment="VerticalAlignment.Center">
        <h1>Damage Scenario</h1>
        <FluentIcon Value="@(new Icons.Regular.Size24.Info())" id="iso-help-button" />
        <FluentTooltip Anchor="iso-help-button">
            <p><strong>ISO/SAE 21434 - Asset</strong></p>
            <p>The following aspects must be defined:</p>
            <ul>
                <li><strong>Placeholder:</strong> Placeholder</li>
            </ul>
        </FluentTooltip>
        <GenericAutosave TEntity="DamageScenario" Entity="@damageScenario" SaveService="@DamageScenarioService"
                         @ref=@genericAutosave />
        <FluentSpacer />
        <FluentButton Appearance="Appearance.Outline" OnClick="@deletionDialog.Show" Color="var(--error)" Title="Delete damage scenario">
            <FluentIcon Value="@(new Icons.Regular.Size20.Delete())" Color="Color.Error" Slot="start" />
            Delete Damage Scenario
        </FluentButton>
    </FluentStack>
    <p class="tiny-text">
        Map threat scenarios to damage scenarios, assess the impact of each damage scenario,
        and define their CIA properties.
    </p>

    <FluentStack Orientation="Orientation.Vertical" VerticalGap=4>
        <FluentStack VerticalAlignment="VerticalAlignment.Center">
            <h4 class="margin-box">DS&nbsp;@damageScenario?.DamageScenarioNumber</h4>
            <FluentTextArea Class="fullwidth" @bind-Value=@damageScenario!.Description
                            @bind-Value:after=@genericAutosave.ScheduleAutoSave Immediate=true ImmediateDelay="500" @ref=textarea />@*This warns of null deref, but null
        check happens above…*@
        </FluentStack>

        <FluentAccordion Class="fullwidth">
            <FluentAccordionItem Expanded=true>
                <HeadingTemplate>
                    <strong>Affected Security Goals</strong>
                </HeadingTemplate>
                <ChildContent>
                    <FluentStack>
                        <FluentCheckbox @bind-Value=@damageScenario.ConfidentialityAffected
                                        @bind-Value:after=@genericAutosave.ScheduleAutoSave>
                            Confidentiality
                        </FluentCheckbox>
                        <FluentCheckbox @bind-Value=@damageScenario.IntegrityAffected
                                        @bind-Value:after=@genericAutosave.ScheduleAutoSave>
                            Integrity
                        </FluentCheckbox>
                        <FluentCheckbox @bind-Value=@damageScenario.AvailabilityAffected
                                        @bind-Value:after=@genericAutosave.ScheduleAutoSave>
                            Availability
                        </FluentCheckbox>
                    </FluentStack>
                </ChildContent>
            </FluentAccordionItem>
            <FluentAccordionItem Expanded=true>
                <HeadingTemplate>
                    <strong>Impact Rating</strong>
                </HeadingTemplate>
                <ChildContent>
                    <FluentStack>
                        <ImpactRatingCard @bind-Value=@damageScenario.Safety @bind-Value:after=@genericAutosave.ScheduleAutoSave
                                          CategoryName="Safety" />
                        <ImpactRatingCard @bind-Value=@damageScenario.Financial
                                          @bind-Value:after=@genericAutosave.ScheduleAutoSave CategoryName="Financial" />
                        <ImpactRatingCard @bind-Value=@damageScenario.Operational
                                          @bind-Value:after=@genericAutosave.ScheduleAutoSave CategoryName="Operational" />
                        <ImpactRatingCard @bind-Value=@damageScenario.Privacy
                                          @bind-Value:after=@genericAutosave.ScheduleAutoSave CategoryName="Privacy" />
                    </FluentStack>
                </ChildContent>
            </FluentAccordionItem>
            <FluentAccordionItem Expanded=true>
                <HeadingTemplate>
                    <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center"
                             HorizontalAlignment="HorizontalAlignment.SpaceBetween">
                        <span><strong>Threat Scenarios</strong></span>
                        <FluentSpacer />
                        <div @onclick:stopPropagation="true">
                            <FluentButton IconStart=@(new Icons.Regular.Size20.Add()) OnClick="CreateThreatScenario"
                                          Appearance="Appearance.Accent" Title="New Threat Scenario">
                                New Threat Scenario
                            </FluentButton>
                        </div>
                    </FluentStack>
                </HeadingTemplate>
                <ChildContent>
                    <FluentStack VerticalAlignment="VerticalAlignment.Bottom">
                        <FluentSearch Placeholder="Search by name or description"
                                      Class="search-width" @bind-Value="tsSearchText" Immediate="true"
                                      ImmediateDelay="500" />
                    </FluentStack>
                    <ThreatScenarioTable @ref="threatScenarioTable"
                                         ProjectId="@damageScenario!.Asset!.ItemDefinition!.IdProject"
                                         Filters="@(t => t.Where(x => x.DamageScenarios!.Id == IdDamageScenario)
                                                           .Where(ts => string.IsNullOrWhiteSpace(tsSearchText) ||
                                                                        EF.Functions.Like(ts.Name, $"%{tsSearchText}%") ||
                                                                        EF.Functions.Like(ts.Description, $"%{tsSearchText}%") ||
                                                                        ts.Id == _parsedTsSearchId))" />
                </ChildContent>
            </FluentAccordionItem>
        </FluentAccordion>
    </FluentStack>
}


<DeletionDialog ItemName="@damageScenario?.DescriptionTruncated" OnDelete="@OnDelete" @ref=@deletionDialog />

@code {
    [Parameter]
    public long IdDamageScenario { get; set; }

    private DamageScenario? damageScenario { get; set; }

    private GenericAutosave<DamageScenario> genericAutosave { get; set; } = default!;
    private DeletionDialog deletionDialog { get; set; } = default!;
    private ThreatScenarioTable? threatScenarioTable;

    private string _tsSearchText = string.Empty;
    private long? _parsedTsSearchId;

    private FluentTextArea? textarea = null;

    private string tsSearchText
    {
        get => _tsSearchText;
        set
        {
            _tsSearchText = string.IsNullOrWhiteSpace(value) ? string.Empty : value;
            _parsedTsSearchId = long.TryParse(_tsSearchText, out long n) ? n : null;
            threatScenarioTable?.RefreshGrid();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        damageScenario = await DamageScenarioService.GetItemByIdAsync(IdDamageScenario,
        include: (e => e.Include(f => f.Asset)
        .ThenInclude(g => g != null ? g.ItemDefinition : null)
        .ThenInclude(h => h != null ? h.Project : null)));

    }

    //Workaround, because Autofocus does not work correctly on fluent textareas.
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender) {
            if(textarea is not null) textarea.FocusAsync();
        }
    }

    private async Task OnDelete()
    {
        long? assetId = damageScenario?.Asset?.Id;
        if (damageScenario is not null) await DamageScenarioService.Delete(damageScenario);
        if (assetId is not null) NavigationManager.NavigateTo($"/Asset/{assetId}");
    }

    private async Task CreateThreatScenario()
    {
        ThreatScenario? ts = await ThreatScenarioService.CreateThreatScenarioAsync(damageScenario!.Asset!.ItemDefinition!.IdProject, "Threat Scenario", damageScenario);
        if (ts is not null)
        {
            ts.Name = $"Threat Scenario {ts.Id}";
            await ThreatScenarioService.Save(ts);
            NavigationManager.NavigateTo($"/ThreatScenario/{ts.Id}");
        }
    }
}
