@page "/UserManagement"
@using System.Security.Claims
@rendermode InteractiveServer

@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IDialogService DialogService
@inject PendingRegistrationService PendingRegistrationService
@inject IJSRuntime JSRuntime
@inject IToastService ToastService
@inject ApplicationUserService ApplicationUserService

<AuthorizeView Roles="Admin">
    <PageTitle>User Management</PageTitle>

    <h1>User Management</h1>

    <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Stretch"
            HorizontalAlignment="HorizontalAlignment.SpaceBetween">
        <FluentSearch Placeholder="Type to search for user..." Style="Width: 25%" @bind-Value=@UserSearch />
        <FluentButton OnClick="OpenDialog" IconStart=@(new Icons.Regular.Size20.Add())>
          New User
        </FluentButton>
    </FluentStack>

    <FluentGrid Spacing="4">
    <FluentGridItem xs="12">
        <h4 style="margin: 16px 0;">Pending Registrations </h4>
         <FluentDataGrid Items="waited_people.AsQueryable()" TGridItem="PendingRegistration" Class="management-data-grid" AutoFit="true">
            <PropertyColumn Property="@(w => w.Email)" Sortable="true" />
            <TemplateColumn Title="Registration Link" Context="pendingRow"> @*context= lokale Variable für das aktuell übergebene Objekt, hier Zeile*@
                @GenerateRegistrationLink(pendingRow.Id)
            </TemplateColumn>
        </FluentDataGrid>
    </FluentGridItem>

    <FluentGridItem xs="12">
        <h4 style="margin: 16px 0;">Registered Users</h4>
         <FluentDataGrid Items="@people.AsQueryable()" TGridItem="ApplicationUser" Class="management-data-grid" AutoFit="true"> @*Jede Zeile im Grid entspricht einem Objekt vom A.U und er will Datentyp IQuerable nicht Liste*@
            <PropertyColumn Property="@(p => p.Email)" Sortable="true" /> @*Für jedes Objekt in people wird die Email angezeigt *@
            <PropertyColumn Property="@(p => p.UserName)" Sortable="true" /> @* P ist ein einzelnes pbjekt auf people*@
            <PropertyColumn Property="@(p => p.Organization)" Sortable="true" />
        </FluentDataGrid>
    </FluentGridItem>
    </FluentGrid>

</AuthorizeView>

@* Dialog that contains the invite link *@
<div>
    <FluentDialog title="Invite link" @ref="copyLink" @bind-Hidden="@Hidden" @ondialogdismiss=CloseCopyLink>
        <FluentDialogHeader ShowDismiss="true">
            <FluentStack VerticalAlignment="VerticalAlignment.Center">
                <FluentIcon Value="@(new Icons.Regular.Size28.PersonAdd())" />
                <h3>Invite link</h3>
            </FluentStack>
        </FluentDialogHeader>
        <FluentDialogBody>
            <FluentStack Orientation="Orientation.Vertical">
                <p class="margin-bottom-0">This is the register link for the new user:</p>
                <FluentStack Orientation="Orientation.Horizontal">
                    <FluentTextField ReadOnly="true" @bind-Value="link" class="fullwidth"></FluentTextField>
                    <FluentButton OnClick=@CopyToClipboard IconStart=@(new Icons.Regular.Size20.Copy())/>
                </FluentStack>
                <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center" class="margin-top-10">
                    <FluentIcon Value="@(new Icons.Regular.Size24.Info())" Class="min-width-24"/>
                    <p class="margin-bottom-0">Please don't share this link with anyone except the user you want to invite. You can manage the users and pending registrations on this page.</p>
                </FluentStack>
            </FluentStack>
        </FluentDialogBody>
        <FluentDialogFooter>
            <FluentSpacer/>
            <FluentButton OnClick=CloseCopyLink Appearance="Appearance.Accent">OK</FluentButton>
        </FluentDialogFooter>
    </FluentDialog>
</div>


@code {
    private string? UserSearch;

    private string? email = "";

    private string? link;

    private FluentDialog? copyLink;
    private bool Hidden { get; set; } = true;

    private ClaimsPrincipal? user { get; set; }

    List<ApplicationUser> people = new();
    List<PendingRegistration> waited_people = new();

    @* private readonly IJSRuntime _jsRuntime; *@

    protected override async Task OnInitializedAsync() {
        user = AuthenticationStateProvider.GetAuthenticationStateAsync().Result.User;
        if (user is null || !user.IsInRole("Admin")) NavigationManager.NavigateTo("/Account/AccessDenied");
        people = await ApplicationUserService.GetAllUsers(); //Service aufrufen und dort die Methode GetAllUsers() aufrufen
        waited_people = await PendingRegistrationService.GetAllPendingRegistrations(); //Service aufrufen und dort die Methode GetAllPendingRegistrations() aufrufen
    }

    private async Task OpenDialog()
    {
        IDialogReference dialog = await this.DialogService.ShowDialogAsync<Dialogs.InviteUser>(new DialogParameters { });
        DialogResult? result = await dialog.Result;
        if (user is null || !user.IsInRole("Admin")) return;
        email = (string?)result?.Data;
        if(email == null)
            return;
        string? id = await PendingRegistrationService.Create(email);

        if (id== null){
            ToastService.ShowError("Failed to create pending registration");
            return;
        }

        link = GenerateRegistrationLink(id);
        await DialogService.CloseAsync(dialog);
        copyLink!.Show();
    }

    private string GenerateRegistrationLink(string id)
    {
        return NavigationManager.BaseUri + "Account/Register?id=" + id;
    }

    private void CloseCopyLink()
    {
        copyLink!.Hide();
    }

    private async Task CopyToClipboard()
    {
        await JSRuntime.InvokeVoidAsync("navigator.clipboard.writeText", link);
        ToastService.ShowSuccess("Link copied to clipboard");
    }

}
