@page "/UserManagement"
@using System.Security.Claims
@rendermode InteractiveServer

@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IDialogService DialogService
@inject PendingRegistrationService PendingRegistrationService
@inject IJSRuntime JSRuntime
@inject IToastService ToastService
@inject ApplicationUserService ApplicationUserService

<AuthorizeView Roles="Admin">
    <PageTitle>User Management</PageTitle>

    <h1>User Management</h1>

    <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Stretch"
            HorizontalAlignment="HorizontalAlignment.SpaceBetween">
        <FluentSearch Placeholder="Type to search for user..." Style="Width: 25%" @bind-Value=@UserSearch />
        <FluentButton OnClick="OpenDialog" IconStart=@(new Icons.Regular.Size20.Add())>
          New User
        </FluentButton>
    </FluentStack>

    <FluentGrid Spacing="4">
    <FluentGridItem xs="12">
        <h4 style="margin: 16px 0;">Registered Users</h4>
        @* <FluentDataGrid Items="@people" Style="width: 100%;" AutoFit="true"> *@
         <FluentDataGrid Items="@people.AsQueryable()" TGridItem="ApplicationUser" Style="width: 100%; margin: 0 auto; overflow-x: auto;" AutoFit="true"> @*Jede Zeile im Grid entspricht einem Objekt vom A.U und er will Datentyp IQuerable nicht Liste*@
            <PropertyColumn Property="@(p => p.Email)" Sortable="true" /> @*Für jedes Objekt in people wird die Email angezeigt *@
            <PropertyColumn Property="@(p => p.UserName)" Sortable="true" /> @* P ist ein ezeinlnes pbjekt auf people*@
            @*<PropertyColumn Property="@(p => p.Org)" Sortable="true" />*@
        </FluentDataGrid>
    </FluentGridItem>
    </FluentGrid>
</AuthorizeView>

<div>
    <FluentDialog @ref="copyLink" @bind-Hidden="@Hidden" @ondialogdismiss=CloseCopyLink>
        <FluentDialogHeader Visible="false" />
        <FluentDialogBody>
            <FluentStack Orientation="Orientation.Vertical">
                <p>This is the register link for the new user: </p>
                <FluentStack Orientation="Orientation.Horizontal">
                    <FluentTextField ReadOnly="true" @bind-Value="link" style="width: 100%;"></FluentTextField>
                    <FluentButton OnClick=@CopyToClipboard IconStart=@(new Icons.Regular.Size20.Copy()) />
                </FluentStack>
                <p>Please don't share this link with anyone except the user you want to invite. You can manage the users and pending registrations on this page.</p>
            </FluentStack>
        </FluentDialogBody>
    </FluentDialog>
</div>


@code {
    private string? UserSearch;

    private string? email = "";

    private string? link;

    private FluentDialog? copyLink;
    private bool Hidden { get; set; } = true;

    private ClaimsPrincipal? user { get; set; }

    List<ApplicationUser> people = new();

    @* private readonly IJSRuntime _jsRuntime; *@

    protected override async Task OnInitializedAsync() {
        user = AuthenticationStateProvider.GetAuthenticationStateAsync().Result.User;
        if (user is null || !user.IsInRole("Admin")) NavigationManager.NavigateTo("/Account/AccessDenied");
        people = await ApplicationUserService.GetAllUsers(); //Service aufrufen und dort die Methode GetAllUsers() aufrufen
    }

    private async Task OpenDialog()
    {
        IDialogReference dialog = await this.DialogService.ShowDialogAsync<Dialogs.InviteUser>(new DialogParameters { });
        DialogResult? result = await dialog.Result;
        if (user is null || !user.IsInRole("Admin")) return;
        email = (string?)result?.Data;
        if(email == null)
            return;
        string? id = await PendingRegistrationService.Create(email);
        link = NavigationManager.BaseUri + "Account/Register?id=" + id;
        await DialogService.CloseAsync(dialog);
        copyLink!.Show();
    }

    private void CloseCopyLink()
    {
        copyLink!.Hide();
    }

    private async Task CopyToClipboard()
    {
        await JSRuntime.InvokeVoidAsync("navigator.clipboard.writeText", link);
        ToastService.ShowSuccess("Link copied to clipboard");
    }

}
