@using tara_tool.Data.Services

@inject ProjectService ProjectService
@inject ItemDefinitionService ItemsService
@inject NavigationManager navigator

@rendermode InteractiveServer

@if (segments[0] == "Project" || segments[0] == "Item")
{
<h4>
    <FluentSelect TOption="string" Width="min-content" Value="@currentProjectIdStr" ValueChanged="@(value => projectChanged(value))">
        @foreach (var project in allProjects)                                                         
        {
            if (project.Id == currentProjectId) 
            {
                <FluentOption Value="@project.Id.ToString()">
                    @project.ProjectName
                </FluentOption>
            }
            else
            {
                <FluentOption Value="@project.Id.ToString()">
                        @project.ProjectName
                </FluentOption>
            }
        }
    </FluentSelect>
    /&nbsp;
</h4>
}
@if (segments[0] == "Item")
{
<h4>
	<FluentSelect TOption="string" Width="min-content" Value="@currentItemIdStr" ValueChanged="@(value => itemChanged(value))">
		@foreach (var item in allItems)                                                         
			{
				if (item.Id == currentItemId)
				{
					<FluentOption Value="@item.Id.ToString()">
						@item.ItemName
					</FluentOption>
				}
				else
				{
					<FluentOption Value="@item.Id.ToString()">
							@item.ItemName
					</FluentOption>
				}
			}
	</FluentSelect>
    &nbsp;/
</h4>
}


@code {

    private List<Project> allProjects = default!;

    private string currentProjectIdStr = "0";
    private long currentProjectId{
        get 
        { 
            long.TryParse(currentProjectIdStr, out long currentProjectIdLong);
            return currentProjectIdLong;
        }
        
    }  

    private string currentItemIdStr = "0";

    private long currentItemId{
        get 
        { 
            long.TryParse(currentItemIdStr, out long currentItemIdLong);
            return currentItemIdLong;
        }
        
    }
    private List<ItemDefinition> allItems = default!;

    string[] segments = new string[] { "", "" };
    
    
    protected override async Task OnInitializedAsync()
    {
        navigator.LocationChanged += OnLocationChanged;

        await updateSegments();

        await updateIds();

        StateHasChanged();

    }

    private async Task projectChanged(string newProjectId)
    {
        long.TryParse(newProjectId, out long newProjectIdLong);

        navigator.NavigateTo($"/Project/{newProjectIdLong}");
    }

	private async Task itemChanged(string newItemId)
    {
        long.TryParse(newItemId, out long newItemIdLong);

        navigator.NavigateTo($"/Item/{newItemIdLong}");
    }

    private async Task updateSegments()
    {
        string relativePath = navigator.ToBaseRelativePath(navigator.Uri);

        segments = relativePath.Split('/', StringSplitOptions.RemoveEmptyEntries);
    }

    private async Task updateIds()
    {
        navigator.LocationChanged -= OnLocationChanged;
        if (segments.Length == 0)
            segments = new string[] { "" , "" };


        if (segments[0] == "Project" && segments[1] != "-1") {
            currentProjectIdStr = segments[1];
            allProjects = await ProjectService.GetProjectsAsync(null);
        }    
        if (segments[0] == "Item")
        {
            currentItemIdStr = segments[1];
            ItemDefinition? currentItem = await ItemsService.GetItemByIdAsync(currentItemId);
            currentProjectIdStr = currentItem!.IdProject.ToString();
            allProjects = await ProjectService.GetProjectsAsync(null);
            allItems = await ItemsService.GetItemsAsync(currentProjectId, null);
        }
        navigator.LocationChanged += OnLocationChanged;
    }

    private async void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        await updateSegments();

        await updateIds();

        StateHasChanged();
    }

    public void Dispose()
{
    navigator.LocationChanged -= OnLocationChanged;
}
}