@page "/Asset/{IdAsset:long}"
@using System.Text.RegularExpressions
@using System.Runtime.CompilerServices

@rendermode InteractiveServer
@inject AssetService AssetService
@inject TagService TagService
@inject NavigationManager NavigationManager



@if (asset is not null)
{

    <FluentStack VerticalAlignment="VerticalAlignment.Center">
        <h1>Asset</h1>
        <FluentIcon Value="@(new Icons.Regular.Size24.Info())" id="iso-help-button" />
        <FluentTooltip Anchor="iso-help-button">
            <p><strong>ISO/SAE 21434 - Asset</strong></p>
            <p>The following aspects must be defined:</p>
            <ul>
                <li><strong>Placeholder:</strong> Placeholder</li>
            </ul>
        </FluentTooltip>
        <GenericAutosave TEntity="Asset" Entity="@asset" SaveService="@AssetService" @ref=@genericAutosave />
        <FluentSpacer />
        <FluentButton Appearance="Appearance.Outline" OnClick="@deletionDialog.Show" Color="var(--error)">
            <FluentIcon Value="@(new Icons.Regular.Size20.Delete())" Color="Color.Error" Slot="start" />
            Delete Item
        </FluentButton>
    </FluentStack>
    <p class="tiny-text">Asset, CIA Properties and damage scenarios</p>

    <div style="height: 1rem;"></div>

    <DeletionDialog ItemName="@asset.AssetName" OnDelete="@OnDelete" @ref=@deletionDialog />
    <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Stretch"
                 HorizontalAlignment="HorizontalAlignment.SpaceBetween">
        <div class="fullwidth">
            <FluentTextField Label="Asset Name" Placeholder="Type an asset Name" @bind-Value="@asset.AssetName"
                             @bind-Value:after="@(() => genericAutosave.ScheduleAutoSave())" Style="width: 100%;" Immediate=true
                             ImmediateDelay="500" />
        </div>
        <div>
            <FluentCombobox OptionText="@(t => t == null ? "None" : t.Name)" OptionValue=@(t => t == null ? "None" : t.Name)
                            TOption="Tag" @bind-Value="@selectedTagName" OptionSelected="@(t => t == asset.Tag)" Label="Select Tag"
                            Placeholder="Type to search..." Items=@GroupOptions />
        </div>
    </FluentStack>
    <div style="height: 1rem;"></div>
    <FluentTextArea Immediate=true ImmediateDelay="500" @bind-Value="@asset.Description"
                    @bind-Value:after="@(() => genericAutosave.ScheduleAutoSave())" Class="fullwidth" Label="Description"
                    Placeholder="Description..." />

}

@code {
    [Parameter]
    public long IdAsset { get; set; }

    private Asset? asset { get; set; }


    private string _selectionBackingField = string.Empty;

    private string selectedTagName
    {
        get => _selectionBackingField;
        set
        {
            if (asset is null)
            {
                return;
            }
            if (string.IsNullOrWhiteSpace(value) || value.Equals("None"))
            {
                _selectionBackingField = string.Empty;
                asset.IdTag = null;
            }
            else
            {
                if (GroupOptions.Any(t => t.Name.Equals(value)))
                {
                    asset.IdTag = GroupOptions.FirstOrDefault(t => t.Name.Equals(value))!.Id;
                }
                else
                {
                    Tag? newTag = TagService.CreateTag(asset!.ItemDefinition!.IdProject, value).Result;
                    if (newTag is null) return;
                    asset.IdTag = newTag.Id;
                    GroupOptions.Add(newTag);
                }
            }
            genericAutosave.ScheduleAutoSave();
        }
    }

    private List<Tag> GroupOptions = new();



    private GenericAutosave<Asset> genericAutosave { get; set; } = default!;
    private DeletionDialog deletionDialog { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        asset = await AssetService.GetItemByIdAsync(IdAsset, include: q => q.Include(a => a.Tag).Include(a =>
                a.ItemDefinition));

        if (asset is null)
        {
            NavigationManager.NavigateTo("/");
            return;
        }

        GroupOptions.Add(new Tag { Name = "None" });
        GroupOptions.AddRange(await TagService.GetAllTagsInProject(asset!.ItemDefinition!.IdProject));

        _selectionBackingField = asset.Tag?.Name ?? "None";
    }

    protected async Task OnDelete()
    {
        if (asset is not null)
        {
            await AssetService.Delete(asset);
        }
    }
}
