@using System.Configuration
@using System.Data.SqlTypes
@using SQLitePCL
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@inject AssetService AssetService

@if (paginationUI is not null)
{
    <FluentDataGrid TGridItem="Asset" ItemsProvider=@FilteredItemsProvider Pagination="@paginationUI.pagination"
                    OnRowClick="onRowClick" RowStyle="@(item => "cursor: pointer;")" Style="max-height:50%; overflow:auto;"
                    @key="@searchText">
        <PropertyColumn Property="@(p => p.AssetName)" Title="Name" Sortable="true" />
        <PropertyColumn Property="@(p => p.Description)" Title="Description" Sortable="true" />
        <TemplateColumn Sortable="true" SortBy="@tagSort">
            <ChildContent>
                <span>@(context.Tag?.Name ?? "None")</span>
            </ChildContent>
        </TemplateColumn>
    </FluentDataGrid>
}

<PaginationUI @ref=@paginationUI />

@code {
    [Parameter]
    public required Func<IQueryable<Asset>, IQueryable<Asset>> Filters { get; set; }


    //Cannot directly infered inside this component, because in theory everywhere this could be used
    [Parameter, EditorRequired]
    public long ProjectId { get; set; }

    private GridItemsProvider<Asset> FilteredItemsProvider { get; set; } = default!;

    private PaginationUI paginationUI { get; set; } = default!;

    private GridSort<Asset> tagSort = GridSort<Asset>.ByAscending(e => e.Tag!.Name);

    private string searchText
    {
        get => field;
        set
        {
            if (string.IsNullOrWhiteSpace(value))
            {
                field = string.Empty;
            }

            else
            {
                field = value;
            }
        }
    } = string.Empty;

    private void onRowClick(FluentDataGridRow<Asset> row)
    {
        if (row.Item is null)
        {
            return;
        }
        NavigationManager.NavigateTo($"Asset/{row.Item.Id}");
    }

    protected override async Task OnInitializedAsync()
    {
        FilteredItemsProvider = AssetService.GetItemsProvider(ProjectId, e => e.Include(a => a.Tag), e => Filters(e).Where(a =>
            string.IsNullOrWhiteSpace(searchText) || a.AssetName.Contains(searchText) || a.Description.Contains(searchText) ||
            a.Tag!.Name.Contains(searchText)));
    }
}