@using System.ComponentModel.DataAnnotations

@implements IDialogContentComponent<ApplicationUser>

@rendermode InteractiveServer

@inject UserManager<ApplicationUser> UserManager
@inject SessionService SessionService
@inject IToastService ToastService

<FluentDialogHeader ShowDismiss="true">
    <h3>Delete user</h3>
</FluentDialogHeader>


<FluentDialogBody>
    Are you sure you want to delete <strong>@Content.Email</strong>? This cannot be undone.
    All projects owned by this user will also be deleted.
    <FluentStack Orientation="Orientation.Horizontal" Class="margin-top-10">
        <FluentTextField @bind-Value="transferEmail" TextFieldType="TextFieldType.Email" />
        @if (transfer == true)
        {
            <FluentButton Appearance="Appearance.Accent" OnClick="@unsetTransfer" IconStart="@(new Icons.Regular.Size20.PersonSwap())">
                Click to revert
            </FluentButton>
        }
        else
        {
            <FluentButton IconStart="@(new Icons.Regular.Size20.PersonSwap())" OnClick="@setTransfer">
                Transfer
            </FluentButton>
        }
    </FluentStack>
</FluentDialogBody>


<FluentDialogFooter>
        <FluentStack Orientation="Orientation.Horizontal" Width="100%" Style="gap: 0.5rem;">
            <FluentSpacer />
            <FluentButton Appearance="Appearance.Outline" OnClick="@CancelDialog">Cancel</FluentButton>
            <FluentButton Appearance="Appearance.Accent" OnClick=@CloseDialog BackgroundColor="var(--error)">Delete</FluentButton>
        </FluentStack>
 </FluentDialogFooter>


@code
{
    [Parameter]
    public ApplicationUser Content { get; set; } = default!;

    [CascadingParameter]
    public FluentDialog? Dialog { get; set; }

    private string? transferEmail;

    private bool transfer = false;

    protected override async Task OnInitializedAsync()
    {
        transferEmail = SessionService.GetApplicationUserAsync().Result!.Email;
    }

    private async Task unsetTransfer()
    {
        transfer = false;
    }

    private async Task setTransfer()
    {
        transfer = true;
    }
    private async Task CloseDialog()
    {
        if(transfer && transferEmail != null)
        {
            ApplicationUser? transferRecipient = await UserManager.FindByEmailAsync(transferEmail);
            if (transferRecipient is ApplicationUser)
            {
                IdentityResult transferResult = await UserManager.TransferAllProjects(Content, transferRecipient);
                if(transferResult.Succeeded)
                {
                    ToastService.ShowSuccess("Transfered projects successfully");
                    await Dialog!.CloseAsync();
                }
                else
                {
                    ToastService.ShowError("Failed to transfer projects.");
                }
            }
            else
            {
                ToastService.ShowError("Failed to transfer projects.");
            }
        }
        else
        {
            await Dialog!.CloseAsync();
        }
    }
    private async Task CancelDialog()
    {
        await Dialog!.CancelAsync();
    }
}
