@page "/Project/{urlId:long}"

<!-- Without this functions won't run for some reason -->
@rendermode InteractiveServer

@using Microsoft.EntityFrameworkCore
@using tara_tool.Data.Services


<!-- Db Context has to be swapped from ApplicationDbContext to IDbContextFactory as per our guidelines -->
<!-- for IDbContextFactory to work I would have to swap
    builder.Services.AddDbContext<ApplicationDbContext>(
    options => options.UseSqlite(connectionString)); 
    for 
    builder.Services.AddDbContextFactory<ApplicationDbContext>(
    options => options.UseSqlite(connectionString)); 
    in Program.cs -->
@inject ApplicationDbContext Db 

@inject NavigationManager NavigationManager


<PageTitle>Project</PageTitle>

<br />
<h2>
    <div style="display: flex;">
        @projectName
        <FluentSpacer />
        Last Edited: @retrievedProjectLastModifiedDate
    </div>
</h2>
<br />
<div style="display: flex;">
    <FluentAutocomplete TOption="ItemDefinition"
                    AutoComplete="off"
                    Autofocus="true"
                    Label="Search for an Item"
                    Width="250px"
                    MaxAutoHeight="200px"
                    Placeholder="Search for Items"
                    OnOptionsSearch="@onSearchAsync"
                    MaximumSelectedOptions="5"
                    OptionText="@(item => item.ItemName)"
                    @bind-SelectedOptions="@searchItems" />

    <FluentSpacer />

    <FluentButton IconStart="@(new Icons.Regular.Size16.Add())" OnClick="@(() => addItem("New unnamed Item"))">
        New Item
    </FluentButton>
</div>

<br />
<FluentDataGrid TGridItem="ItemDefinition" Items="@selectedItems.AsQueryable()" Pagination="@pagination" OnRowClick="onRowClick" RowStyle="@(item => "cursor: pointer;")">
    <PropertyColumn Property="@(p => p.Id)" Sortable="true" Width="40px" Title="#"/>
    <PropertyColumn Property="@(p => p.ItemName)" Sortable="true" Title="Item Name"/>
    <PropertyColumn Property="@(p => p.ItemFunction)" Sortable="true" Title="Item Function"/>
    <PropertyColumn Property="@(p => p.OperationalEnvironmentText)" Sortable="true" Title="Operational Environment"/>
</FluentDataGrid>

<FluentPaginator State="@pagination" />

@code {
    [Parameter]
    public long urlId { get; set; }

    private string projectName = "";

    private DateTime retrievedProjectLastModifiedDate;

    private string wantedProjectID = "";

    private string retrievedProjectName = "";


    private PaginationState pagination = new PaginationState() { ItemsPerPage = 10 };

    private IQueryable<ItemDefinition> itemsQuery = Enumerable.Empty<ItemDefinition>().AsQueryable();

    private IEnumerable<ItemDefinition> selectedItems = Array.Empty<ItemDefinition>();

    private IEnumerable<ItemDefinition> searchItems = Array.Empty<ItemDefinition>();

    protected override async Task OnInitializedAsync()
    {
        //New project has to be created when urlId == -1
        if(urlId == -1)
        {
            ProjectService projectService = new ProjectService(Db);

            Project newProject = await projectService.CreateProjectAsync("New unnamed Project");

            NavigationManager.NavigateTo($"/Project/{newProject.Id}");

            return;
        }

        Project? requestedProject = await retrieveProjectInfo();

        if(requestedProject == null)
        {
            NavigationManager.NavigateTo("/");

            return;
        }

        projectName = requestedProject!.ProjectName;

        retrievedProjectLastModifiedDate = requestedProject.DateLastChanged;

        itemsQuery = Db.ItemDefinitions
                        .Where(p => p.IdProject == urlId);

        selectedItems = itemsQuery;
    }

    private async Task createProject(string name)
    {
        ProjectService projectService = new ProjectService(Db);

        await projectService.CreateProjectAsync(name);
        
    }

    private async Task<Project?> retrieveProjectInfo()
    {
        ProjectService projectService = new ProjectService(Db);

        Project? retrievedProject = await projectService.RetrieveProjectInfoAsync(urlId);

        return retrievedProject;
    }

    private async Task retrieveProjectInfoButton()
    {
        long.TryParse(wantedProjectID, out long parsedProjectID);

        ProjectService projectService = new ProjectService(Db);

        Project? retrievedProject = await projectService.RetrieveProjectInfoAsync(parsedProjectID);

        if (retrievedProject == null)
        {
            // handle "not found"
            // Add redirect to Invalid Project Page;
        }

        retrievedProjectName = retrievedProject!.ProjectName;
    }

    private async Task addItem(string name)
    {
        ItemsService itemsService = new ItemsService(Db);

        try
        {   
            await itemsService.CreateItemAsync(urlId, name);
        }
        catch
        {
            // Some kind of message that Item could not be created
        }

        Project? requestedProject = await retrieveProjectInfo();

        if (requestedProject != null)
        {
            projectName = requestedProject.ProjectName;
            retrievedProjectLastModifiedDate = requestedProject.DateLastChanged;
        }
        // Refresh the datagrid to show new item
        itemsQuery = Db.ItemDefinitions
                        .Where(p => p.IdProject == urlId);

        OptionsSearchEventArgs<ItemDefinition> e = new OptionsSearchEventArgs<ItemDefinition>();
        await onSearchAsync(e);
    }

    // User has to click into the autocomplete box again for selectedItems to apply to the DataGrid
    private async Task onSearchAsync(OptionsSearchEventArgs<ItemDefinition> e)
    {
        if (string.IsNullOrWhiteSpace(e.Text) && !searchItems.Any())
        {
            // No search, show all items
            selectedItems = itemsQuery;
        }
        else if (!searchItems.Any())
        {
            selectedItems = Db.ItemDefinitions
                .Where(p => EF.Functions.Like(p.ItemName, $"%{e.Text}%"));
        }
        else
        {
            selectedItems = searchItems;
        }

        IEnumerable<ItemDefinition> allItems = Db.ItemDefinitions
                                                .Where(i => EF.Functions.Like(i.ItemName, $"%{e.Text}%"));
                                                
        e.Items = allItems;
    }

    private async Task onRowClick(FluentDataGridRow<ItemDefinition> row)
    {
        if (row.Item is null)
        {
            return;
        }

        NavigationManager.NavigateTo($"/Item/{row.Item.Id}");
    }
}

