@page "/Project/{urlId:long}"

@rendermode InteractiveServer
@inject ItemDefinitionService ItemsService

@attribute [Authorize]

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using System.Configuration
@using Mono.TextTemplating
@using tara_tool.Data.Services
@using tara_tool.Data.Tables


<!-- Db Context has to be swapped from ApplicationDbContext to IDbContextFactory as per our guidelines -->
<!-- for IDbContextFactory to work I would have to swap
    builder.Services.AddDbContext<ApplicationDbContext>(
    options => options.UseSqlite(connectionString)); 
    for 
    builder.Services.AddDbContextFactory<ApplicationDbContext>(
    options => options.UseSqlite(connectionString)); 
    in Program.cs -->

@inject NavigationManager NavigationManager
@inject ProjectService ProjectService
@inject DateTimeService DateTimeService


<PageTitle>Project</PageTitle>

<br />
<h2>
    <FluentStack @key="@retrievedProjectLastModifiedDate">
        @projectName
        <FluentSpacer />
        Last Edited: @retrievedProjectLastModifiedDate
    </FluentStack>
</h2>
<br />
<FluentStack VerticalAlignment="VerticalAlignment.Bottom">
    <FluentTextField Label="Search for an Item" Placeholder="Search by name, function or environment"
                     Style="width: 250px;" @bind-Value="searchText" Immediate="true" ImmediateDelay="500" />
    <FluentSpacer />

    <FluentButton IconStart="@(new Icons.Regular.Size16.Add())" OnClick="@(() => addItem("New unnamed Item"))">
        New Item
    </FluentButton>
</FluentStack>

<br />
<FluentDataGrid TGridItem="ItemDefinition" ItemsProvider=@FilteredItemsProvider Pagination="@pagination"
                OnRowClick="onRowClick" RowStyle="@(item => "cursor: pointer;")" Style="max-height:50%; overflow:auto;"
                @key="@searchText">
    <EmptyContent>
        <div style="padding:40px; text-align:center; opacity:0.7;">
            <div style="font-size:18px; margin-bottom:8px;">
                No items found
            </div>
            <div style="font-size:14px;">
                Try adjusting your filters or adding new data.
            </div>
        </div>
    </EmptyContent>

    <ChildContent>
        <PropertyColumn Property="@(p => p.ItemName)" Sortable="true" Title="Item Name" />
        <PropertyColumn Property="@(p => p.ItemFunction)" Sortable="true" Title="Item Function" />
        <PropertyColumn Property="@(p => p.OperationalEnvironmentText)" Sortable="true"
                        Title="Operational Environment" />
    </ChildContent>
</FluentDataGrid>

<FluentPaginator State="@pagination">
    <SummaryTemplate>
        <FluentStack VerticalAlignment="VerticalAlignment.Center">
            <span><b>@pagination.TotalItemCount</b>&nbsp;items</span>
            <FluentSpacer />
            <span>Items per page:</span>
            <FluentSelect TOption="int" Width="min-content" ValueChanged="@(value => onPageCountChange(value))">
                <FluentOption Value="5">
                    5
                </FluentOption>
                <FluentOption Value="10" Selected>
                    10
                </FluentOption>
                <FluentOption Value="25">
                    25
                </FluentOption>
                <FluentOption Value="50">
                    50
                </FluentOption>
                <FluentOption Value="100">
                    100
                </FluentOption>
            </FluentSelect>
        </FluentStack>
    </SummaryTemplate>
</FluentPaginator>

@code {
    [Parameter]
    public long urlId { get; set; }

    private string projectName = "";

    private DateTime retrievedProjectLastModifiedDate;

    private PaginationState pagination = new PaginationState() { ItemsPerPage = 10 };

    private string lastEdit = string.Empty;

    private string searchText
    {
        get => field;
        set
        {
            if (string.IsNullOrWhiteSpace(value))
            {
                field = string.Empty;
            }

            else
            {
                field = value;
            }
        }
    } = string.Empty;

    private GridItemsProvider<ItemDefinition> FilteredItemsProvider = default!;

    protected override async Task OnInitializedAsync()
    {
        FilteredItemsProvider = ItemsService.GetItemsProvider(filter: e => e.Where(i => i.IdProject == urlId).Where(i =>
            string.IsNullOrWhiteSpace(searchText) ||
                EF.Functions.Like(i.ItemName, $"%{searchText}%") ||
                EF.Functions.Like(i.ItemFunction ?? string.Empty, $"%{searchText}%") ||
                EF.Functions.Like(i.OperationalEnvironmentText ?? string.Empty, $"%{searchText}%"))
        );
        //New project has to be created when urlId == -1
        if (urlId == -1)
        {
            Project? newProject = await ProjectService.CreateNewProjectAsync("New unnamed Project");

            if (newProject is null)
            {
                NavigationManager.NavigateTo("/");
                return;
            }

            NavigationManager.NavigateTo($"Project/{newProject.Id}");

            return;
        }

        Project? requestedProject = await retrieveProjectInfo();

        if (requestedProject == null)
        {
            NavigationManager.NavigateTo("/");

            return;
        }

        projectName = requestedProject!.ProjectName;
        retrievedProjectLastModifiedDate = requestedProject.DateLastChanged;

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            retrievedProjectLastModifiedDate = await DateTimeService.GetLocalDateTime(retrievedProjectLastModifiedDate);
            StateHasChanged();
        }
    }

    
    private async Task<Project?> retrieveProjectInfo()
    {
        Project? retrievedProject = await ProjectService.GetItemByIdAsync(urlId, null);

        return retrievedProject;
    }


    private async Task addItem(string name)
    {
        ItemDefinition? newItem = await ItemsService.CreateItemAsync(urlId, name);

        if (newItem == null)
        {
            return;
        }

        Project? requestedProject = await retrieveProjectInfo();

        if (requestedProject != null)
        {
            projectName = requestedProject.ProjectName;
            retrievedProjectLastModifiedDate = requestedProject.DateLastChanged;
        }
        await ItemsService.Save(newItem);
        NavigationManager.NavigateTo($"/Item/{newItem.Id}");
    }


    private async Task onRowClick(FluentDataGridRow<ItemDefinition> row)
    {
        if (row.Item is null)
        {
            return;
        }

        NavigationManager.NavigateTo($"/Item/{row.Item.Id}");
    }

    private async Task onPageCountChange(string newValue)
    {
        await pagination.SetItemsPerPageAsync(int.Parse(newValue));
    }
}
