@page "/Project/{urlId:long}"

@rendermode InteractiveServer
@inject ItemsService ItemsService

@attribute [Authorize]

@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Identity
@using tara_tool.Data.Services


<!-- Db Context has to be swapped from ApplicationDbContext to IDbContextFactory as per our guidelines -->
<!-- for IDbContextFactory to work I would have to swap
    builder.Services.AddDbContext<ApplicationDbContext>(
    options => options.UseSqlite(connectionString)); 
    for 
    builder.Services.AddDbContextFactory<ApplicationDbContext>(
    options => options.UseSqlite(connectionString)); 
    in Program.cs -->
@inject ApplicationDbContext Db

@inject NavigationManager NavigationManager

@inject UserManager<ApplicationUser> UserManager
@inject ProjectService projectService
@inject AccessControlService AccessControlService

@inject AuthenticationStateProvider AuthStateProvider

@inject ProjectService ProjectService


<PageTitle>Project</PageTitle>

<br />
<h2>
    <FluentStack>
        @projectName
        <FluentSpacer />
        Last Edited: @retrievedProjectLastModifiedDate
    </FluentStack>
</h2>
<br />
<FluentStack VerticalAlignment="VerticalAlignment.Bottom">
    <FluentTextField Label="Search for an Item" Placeholder="Search by name, function or environment"
                     Style="width: 250px;" @bind-Value="searchText" Immediate="true" />


    <FluentSpacer />

    <FluentButton IconStart="@(new Icons.Regular.Size16.Add())" OnClick="@(() => addItem("New unnamed Item"))">
        New Item
    </FluentButton>
</FluentStack>

<br />
<FluentDataGrid TGridItem="ItemDefinition" Items="@FilteredItems" Pagination="@pagination" OnRowClick="onRowClick"
                RowStyle="@(item => "cursor: pointer;")" Style="max-height:900px; overflow:auto;">
    <EmptyContent>
        <div style="padding:40px; text-align:center; opacity:0.7;">
            <div style="font-size:18px; margin-bottom:8px;">
                No items found
            </div>
            <div style="font-size:14px;">
                Try adjusting your filters or adding new data.
            </div>
        </div>
    </EmptyContent>

    <ChildContent>
        <TemplateColumn Title="#" Sortable="true" Width="40px">
            @(FilteredItems.ToList().IndexOf(context) + 1)
        </TemplateColumn>
        <PropertyColumn Property="@(p => p.ItemName)" Sortable="true" Title="Item Name" />
        <PropertyColumn Property="@(p => p.ItemFunction)" Sortable="true" Title="Item Function" />
        <PropertyColumn Property="@(p => p.OperationalEnvironmentText)" Sortable="true"
                        Title="Operational Environment" />
    </ChildContent>
</FluentDataGrid>

<FluentPaginator State="@pagination">
    <SummaryTemplate>
        <FluentStack VerticalAlignment="VerticalAlignment.Center">
            <span><b>@pagination.TotalItemCount</b>&nbsp;items</span>
            <FluentSpacer />
            <span>Items per page:</span>
            <FluentSelect TOption="int" Width="min-content" ValueChanged="@(value => onPageCountChange(value))">
                <FluentOption Value="5">
                    5
                </FluentOption>
                <FluentOption Value="10" Selected>
                    10
                </FluentOption>
                <FluentOption Value="25">
                    25
                </FluentOption>
                <FluentOption Value="50">
                    50
                </FluentOption>
                <FluentOption Value="100">
                    100
                </FluentOption>
            </FluentSelect>
        </FluentStack>
    </SummaryTemplate>
</FluentPaginator>

@code {
    [Parameter]
    public long urlId { get; set; }

    private string projectName = "";

    private DateTime retrievedProjectLastModifiedDate;

    private string wantedProjectID = "";

    private string retrievedProjectName = "";

    private PaginationState pagination = new PaginationState() { ItemsPerPage = 10 };

    private string searchText = string.Empty;

    private IQueryable<ItemDefinition> itemsQuery = Enumerable.Empty<ItemDefinition>().AsQueryable();

    private IQueryable<ItemDefinition> FilteredItems =>
        string.IsNullOrWhiteSpace(searchText)
            ? itemsQuery
            : itemsQuery.Where(i =>
                EF.Functions.Like(i.ItemName, $"%{searchText}%") ||
                EF.Functions.Like(i.ItemFunction ?? string.Empty, $"%{searchText}%") ||
                EF.Functions.Like(i.OperationalEnvironmentText ?? string.Empty, $"%{searchText}%"));

    protected override async Task OnInitializedAsync()
    {
        //New project has to be created when urlId == -1
        if (urlId == -1)
        {
            Project? newProject = await projectService.CreateNewProjectAsync("New unnamed Project");
            
            if (newProject is null)
            {
                NavigationManager.NavigateTo("/");
                return;
            }

            NavigationManager.NavigateTo($"Project/{newProject.Id}");

            return;
        }

        Project? requestedProject = await retrieveProjectInfo();

        if (requestedProject == null)
        {
            NavigationManager.NavigateTo("/");

            return;
        }

        projectName = requestedProject!.ProjectName;

        retrievedProjectLastModifiedDate = requestedProject.DateLastChanged;

        itemsQuery = Db.ItemDefinitions
                        .Where(p => p.IdProject == urlId);

    }

    private async Task<Project?> retrieveProjectInfo()
    {
        Project? retrievedProject = await ProjectService.GetProjectAsync(urlId, null);

        return retrievedProject;
    }

    private async Task retrieveProjectInfoButton()
    {
        long.TryParse(wantedProjectID, out long parsedProjectID);

        Project? retrievedProject = await ProjectService.GetProjectAsync(parsedProjectID, null);

        if (retrievedProject == null)
        {
            // handle "not found"
            // Add redirect to Invalid Project Page;
        }

        retrievedProjectName = retrievedProject!.ProjectName;
    }

    private async Task addItem(string name)
    {
        ItemDefinition? newItem = await ItemsService.CreateItemAsync(urlId, name);

        if (newItem == null)
        {
            return;
        }

        Project? requestedProject = await retrieveProjectInfo();

        if (requestedProject != null)
        {
            projectName = requestedProject.ProjectName;
            retrievedProjectLastModifiedDate = requestedProject.DateLastChanged;
        }

        await Db.SaveChangesAsync();
        // Refresh the datagrid to show new item
        itemsQuery = Db.ItemDefinitions
                        .Where(p => p.IdProject == urlId);

        NavigationManager.NavigateTo($"/Item/{newItem.Id}");
    }


    private async Task onRowClick(FluentDataGridRow<ItemDefinition> row)
    {
        if (row.Item is null)
        {
            return;
        }

        NavigationManager.NavigateTo($"/Item/{row.Item.Id}");
    }

    private async Task onPageCountChange(string newValue)
    {
        await pagination.SetItemsPerPageAsync(int.Parse(newValue));
    }
}

