@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@inject AssetService AssetService

@if (paginationUI is not null)
{

    <FluentDataGrid TGridItem="Asset" ItemsProvider=@FilteredItemsProvider Pagination="@paginationUI.pagination"
                    OnRowClick="onRowClick" RowStyle="@(item => "cursor: pointer;")" Style="max-height:50%; overflow:auto;" @ref="grid">
        <PropertyColumn Property="@(p => p.AssetNumber)" Title="Nr." Sortable="true" />
        <PropertyColumn Property="@(p => p.AssetName)" Title="Name" Sortable="true" />
        <PropertyColumn Property="@(p => p.Description)" Title="Description" Sortable="true" />
        <TemplateColumn Sortable="true" SortBy="@tagSort" Title="Group">
            <ChildContent>
                <span>@(context.Tag?.Name ?? "None")</span>
            </ChildContent>
        </TemplateColumn>
        <TemplateColumn Sortable="true" SortBy="@numberDamageScenarioSort" Title="Nr. of Damage Scenarios">
            <ChildContent>
                <span>@context.DamageScenarios.Count()</span>
            </ChildContent>
        </TemplateColumn>
    </FluentDataGrid>
}

<PaginationUI @ref=@paginationUI />

@code {
    [Parameter]
    public required Func<IQueryable<Asset>, IQueryable<Asset>> Filters { get; set; }

    [Parameter]
    public required long ProjectId { get; set; }

    private GridItemsProvider<Asset> FilteredItemsProvider { get; set; } = default!;

    private PaginationUI paginationUI { get; set; } = default!;

    private GridSort<Asset> tagSort = GridSort<Asset>.ByAscending(e => e.Tag!.Name);
    private GridSort<Asset> numberDamageScenarioSort = GridSort<Asset>.ByAscending(e => e.DamageScenarios.Count());

    private FluentDataGrid<Asset> grid = default!;


    public void RefreshGrid()
    {
        // grid may be null during initial render
        if (grid is not null)
            InvokeAsync(() => grid.RefreshDataAsync());
    }

    private void onRowClick(FluentDataGridRow<Asset> row)
    {
        if (row.Item is null)
        {
            return;
        }
        NavigationManager.NavigateTo($"Asset/{row.Item.Id}");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            StateHasChanged();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        FilteredItemsProvider = AssetService.GetItemsProvider(ProjectId, e => e.Include(a => a.Tag), Filters);
    }
}
