@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@inject AssetService AssetService

@if (paginationUI is not null)
{
    <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Stretch"
                 HorizontalAlignment="HorizontalAlignment.SpaceBetween">
        <div>
            <FluentSearch Immediate=true ImmediateDelay="500" @bind-Value="@searchText" Label="Free text search"
                          Placeholder="Free text search..." />
        </div>
        <FluentSpacer />
        <div>
            <FluentCheckbox Label="Show Assets with no Damage Scenarios" @bind-Value="@showAssetsWithNoDamageScenario" />
        </div>
    </FluentStack>
    <FluentDataGrid TGridItem="Asset" ItemsProvider=@FilteredItemsProvider Pagination="@paginationUI.pagination"
                    OnRowClick="onRowClick" RowStyle="@(item => "cursor: pointer;")" Style="max-height:50%; overflow:auto;" @ref="grid">
        <PropertyColumn Property="@(p => p.AssetNumber)" Title="Nr." Sortable="true" />
        <PropertyColumn Property="@(p => p.AssetName)" Title="Name" Sortable="true" />
        <PropertyColumn Property="@(p => p.Description)" Title="Description" Sortable="true" />
        <TemplateColumn Sortable="true" SortBy="@tagSort" Title="Group">
            <ChildContent>
                <span>@(context.Tag?.Name ?? "None")</span>
            </ChildContent>
        </TemplateColumn>
    </FluentDataGrid>
}

<PaginationUI @ref=@paginationUI />

@code {
    [Parameter]
    public required Func<IQueryable<Asset>, IQueryable<Asset>> Filters { get; set; }


    //Cannot directly infered inside this component, because in theory everywhere this could be used
    [Parameter, EditorRequired]
    public long ProjectId { get; set; }

    private GridItemsProvider<Asset> FilteredItemsProvider { get; set; } = default!;

    private PaginationUI paginationUI { get; set; } = default!;

    private GridSort<Asset> tagSort = GridSort<Asset>.ByAscending(e => e.Tag!.Name);

    private FluentDataGrid<Asset> grid = default!;

    private string _searchText = string.Empty;
    private string searchText
    {
        get => _searchText;
        set
        {
            _searchText = string.IsNullOrWhiteSpace(value) ? string.Empty : value;
            RefreshGrid();
        }
    }

    private bool _showAssetsWithNoDamageScenario = false;
    private bool showAssetsWithNoDamageScenario
    {
        get => _showAssetsWithNoDamageScenario;
        set
        {
            _showAssetsWithNoDamageScenario = value;
            RefreshGrid();
        }
    }

    private void RefreshGrid()
    {
        // grid may be null during initial render
        if (grid is not null)
            InvokeAsync(() => grid.RefreshDataAsync());
    }

    private void onRowClick(FluentDataGridRow<Asset> row)
    {
        if (row.Item is null)
        {
            return;
        }
        NavigationManager.NavigateTo($"Asset/{row.Item.Id}");
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            StateHasChanged();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        FilteredItemsProvider = AssetService.GetItemsProvider(ProjectId, e => e.Include(a => a.Tag), e => Filters(e).Where(a =>
            string.IsNullOrWhiteSpace(searchText) || a.AssetName.Contains(searchText) || a.Description.Contains(searchText) ||
            a.Tag!.Name.Contains(searchText) || (a.Tag == null && "None".Contains(searchText))).Where(a =>
showAssetsWithNoDamageScenario == false || a.DamageScenarios.Count() ==
0));
    }
}
